#allthing{
    width: 80%;
}
#headtitle{
    background-color: grey;
    width:100%;
    padding: 0;
}

#main{
    padding: 0;
}

.tab{
    padding: 0;
    margin: 0 0 3px 0;
    border-top: 1px solid aliceblue;
    border-right: 1px solid aliceblue;
    height:150px;
}

.tab h2{
    float: left;
    margin:0 10px 0 0;
    height: 100%;
    text-align: center;
    line-height: 150px;
    width: 150px;
    background-color: aliceblue;
}

br{
    display: none;
}
